h1 {
    color:blue;
}

*{
    border:solid;
}
.header{
    background-color:orange;
    display:flex;
    justify-content: space-between;
}
.top{
    background-color:palegoldenrod;
    display:flex;
    justify-content:space-evenly;
}
.text{
    background-color:rgb(38, 183, 240);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color :purple;
}